@model QuanLyTaiSan_UserManagement.Models.ChangePasswordModel
@{
    ViewBag.Title = "ChangePassword";
    Layout = "~/Views/Share/_LayoutPage1.cshtml";
}
<style>
    .user-name {
        color: #555;
    }
</style>
<link href="~/Content/css/select2.min.css" rel="stylesheet" />
<script src="~/Content/ckeditor/ckeditor.js"></script>
<script src="~/Scripts/select2.min.js"></script>

<div class="row">
    <div class="col-lg-12">
        <section class="panel">
            <header class="panel-heading mypanel">
                Thay đổi mật khẩu
            </header>
            <div class="panel-body">
                @using (Html.BeginForm("ChangePassword", "Account", FormMethod.Post, new { @enctype = "multipart/form-data", @class = "form-horizontal" }))
                {
                    @Html.AntiForgeryToken()
                    <div class="row">
                        <div class="col-md-8 col-md-offset-2">
                            <div class="form-group row">
                                @Html.ValidationSummary("", new { @class = "text-danger" })
                                @if (!string.IsNullOrEmpty(ViewBag.notification))
                                {
                                    <div style="color: green">Thay đổi mật khẩu thành công</div>
                                }
                            </div>
                            <div class="form-group row">
                                <label class="col-md-4" style="padding-top: 10px"> Tên tài khoản </label>
                                <div class="col-md-6">
                                    @Html.TextBoxFor(m => m.Username, new { @class = "form-control user-name", Value = System.Web.HttpContext.Current.User.Identity.Name, @readonly = "readonly" })
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-md-4" style="padding-top: 10px"> Mật khẩu cũ </label>
                                <div class="col-md-6">
                                    @Html.PasswordFor(m => m.OldPassword, new { @class = "form-control" })
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-md-4" style="padding-top: 10px"> Mật khẩu mới </label>
                                <div class="col-md-6">
                                    @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-md-4" style="padding-top: 10px"> Nhập lại mật khẩu mới </label>
                                <div class="col-md-6">
                                    @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="row text-center">
                        <button type="submit" class="btn btn-primary" id="btnSave">Lưu</button>
                        <button type="button" class="btn btn-danger">@Html.ActionLink("Hủy", "Index", "Home")</button>
                    </div>
                }
            </div>
                
        </section>
    </div>
</div>
<script>
    
</script>

